{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile student</title>
</head>
<body>


    <div class="container" >
        <img src="{% static "image/guap.svg" %}" alt="None">

        <div class='contetn'>

            <h3 class="text_users">{{ user.first_name }} {{ user.last_name }} <a href="/" class="logout-btn">Выйти</a> </h3>
            {% if not data %}
            <a href="#zatemnenie" class="text-blk">Создать резюме</a>

            <div id="zatemnenie">

                <div id="okno">
                  <p class="text_create_resume">Заполните резюме</p>

                  <form action="#" method="post">
                    {% csrf_token %}
                            <label class="model_text" for="information">Введите технологии, в которых вы чувствуюте себя уверенно</label><br>
                            <textarea name="information" type="text" id="information" placeholder="Python, Компьютерная графика, Базы данных и т.д"></textarea>

                            <label class="model_text" for="about">Проекты с вашим участием</label><br>
                            <textarea name="about" type="text" id="about" placeholder="Ссылка на GIT или обычное описание проектов"></textarea>

                            <label class="model_text" for="iam">Расскажите о себе</label><br>
                            <textarea name="iam" type="text" id="iam" placeholder="Я такой-то...."></textarea>

                        <button class="close">Создать</button>
                    </form>
                </div>
            </div>

            {% else %}
            <a href="#zatemnenie" class="text-blk">Редактировать резюме</a>

            <div id="zatemnenie">

                <div id="okno">
                  <p class="text_create_resume">Заполните резюме</p>

                  <form action="#" method="post">
                    {% csrf_token %}
                            <label class="model_text" for="information">Введите технологии, в которых вы чувствуюте себя уверенно</label><br>
                            <textarea name="information" type="text" id="information" placeholder="Python, Компьютерная графика, Базы данных и т.д"></textarea>

                            <label class="model_text" for="about">Проекты с вашим участием</label><br>
                            <textarea name="about" type="text" id="about" placeholder="Ссылка на GIT или обычное описание проектов"></textarea>

                            <label class="model_text" for="iam">Расскажите о себе</label><br>
                            <textarea name="iam" type="text" id="iam" placeholder="Я такой-то...."></textarea>

                        <button class="close">Создать</button>
                    </form>
                </div>
            </div>

            {% endif %}



        </div>


        <div class='contetn_resume'>
            <h3 class="text_resume">Ваше резюме</h3>

            {% if data %}
                <div class='info'>
                    <div class="info-section">
                        <span class='date_info'>Навыки:</span> <br> {{ data.information }}
                    </div>
                    <div class="info-section">
                        <span class='date_info'>Опыт:</span> <br> {{ data.about }}
                    </div>
                    <div class="info-section">
                        <span class='date_info'>О себе:</span> <br> {{ data.iam }}
                    </div>
                </div>

            {% endif %}

        </div>

        <div class='contetn_resume'>
            <h3 class="text_resume">Ваши офферы</h3>

            {% comment %} {% if data %} {% endcomment %}
            {% if offers_info %}
                {% for field in offers_info %}
                    <div class='table_resume'>
                        <p class='text_resume_table'>  {{ field.company.first_name }} </p>

                        <div class="button-row">
                            <form action="" method="GET">
                                {% csrf_token %}
                                {% if field.offer_send == Null %}
                                    <input type="hidden" name="company_name" value="{{ field.company.id }}">

                                    <button type="submit" name="accept_offer" value="True" class='text-blk_offer_yes'>Принять Оффер</button>
                                    <button type="submit" name="accept_offer" value="False" class='text-blk_offer_no'>Отменить Оффер</button>
                                {% elif field.offer_send == True %}
                                    <h3 class="text_resume">Оффер принят</h3>
                                {% else %}
                                    <h3 class="text_resume">Оффер отклонен</h3>
                                {% endif %}

                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class='text_resume'>Пока нет Офферов!</h3>
            {% endif %}


            {% comment %} {% endif %} {% endcomment %}

        </div>

    </div>
</body>
</html>
